body {
  background-image: url("/background/all-seasons.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-container {
  font-family: "Libre Franklin", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px;
  background: rgba(93, 104, 102, 0.4);
  box-shadow: 0 0 10px 3px white;
  border-radius: 10px;
  backdrop-filter: blur(44px);
}

#app-title {
  font-family: "Libre Franklin", sans-serif;
  color: white;
  font-weight: bold;
}

.card {
  text-align: center;
  padding: 0 !important;
  box-shadow: 0 0 8px 2px lightgray;
}

.card,
#input-group {
  width: 60%;
}

#search-btn {
  cursor: pointer;
}

#celsius,
#fahrenheit {
  font-weight: bold;
}

.temperature-icon {
  margin-left: 1vw;
  font-size: 20px;
  color: #ffc107;
}

#temp,
#min-temp,
#max-temp {
  font-weight: 600;
}
@media screen and (max-width: 760px) {
  .card,
  #input-group {
    width: 80%;
  }
}
