body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.weatherApp-container {
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  padding: 60px;
  box-shadow: 6px 6px 6px 0 #333;
  border-radius: 10px;
}

.weatherApp-container-background {
  background: url("background/background-container.png");
  background-size: cover;
}

#app-title {
  color: white;
  font-weight: bold;
}

.card {
  width: 60%;
}

#input-group {
  margin: 0 auto;
}

#search-btn {
  cursor: pointer;
}

#celsius,
#fahrenheit {
  font-weight: bold;
}

.temperature-icon {
  margin-left: 1vw;
  font-size: 20px;
  color: #17a2b8;
}

#temp,
#min-temp,
#max-temp {
  font-weight: 600;
}

@media screen and (max-width: 760px) {
  .card,
  #input-group {
    width: 100%;
  }
}
